body {
    background:black;
    color:#00ae74;
    font-family:'Segoe UI', sans-serif;

    align-items: center;
    justify-content: center;
}
main {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}


a {
    color:#79c0ff;
    margin:0 10px;
    text-decoration:none;
    font-weight:bold;
}
a:hover{
    text-decoration:underline;
    color:#79c00f;
}

.name {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin: 4em;
}

.slogan {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.about {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.workers {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;

}

.worker {
    display: flex;
    flex-direction:column;
    /* align-items: center; */
    justify-content: left;
    margin: 2em;
    padding: 1em;
    border-radius: 1em;
    background-color: rgb(40, 40, 40);
    min-width: 25em;
}
.worker p {
    margin: 0.1em;
}